{% extends '_base.html' %}
<title>


{% block title %} لیست کتاب ها{% endblock title %}
</title>

{% block content %}
<!--{% for book in book_lists %}-->
<!--&lt;!&ndash;<a href="{% url 'book_detail' book.id %}">&ndash;&gt;-->
<!--<a href="{{ book.get_absolute_url }}"> <h1>{{ book.title }}</h1> </a>-->
<!--<p>{{book.author }}</p>-->


<!--&lt;!&ndash;<form action="" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;    {% csrf_token %}&ndash;&gt;-->
<!--&lt;!&ndash;    <input  class="btn btn-success mt-4"  value="add new book">&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--{% endfor %}-->
<!--<a href="{% url 'create_book' %}"  class="btn btn-success mt-4">>ایجاد کتاب جدید</a>-->



<div class="container mt-4" >
    <div class="row flex-row-reverse justify-content-md-center">
        {% for book in book_lists %}
        <div class="card m-2" style="max-width: 45%">
            <div class="row g-0 h-100" dir="rtl">
                <div class="col-md-4">
                    {% if book.cover %}
                    <img src="{{book.cover.url}}" class="img-fluid rounded-start" alt="...">
                    {% endif %}
                </div>
                <div class="col-md-8 h-100">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div class="card-body">
                            <a href="{{ book.get_absolute_url }}"  class="text-decoration-none">
                                <h3 class="card-title"><strong>{{book.title }}</strong></h3></a>
                            <p class="card-text pt-3">
                                {{book.description | truncatewords:10}}
                            </p>
                            <p class="text-muted">نویسنده: {{book.author}}</p>
<!--                            <p><a href="{% url 'create_book' %}"  class="btn btn-success mt-4">ایجاد کتاب جدید</a></p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock content %}